<div style='width:{{width}};'>
<table>
<tr><td style='width:17px;'><div class="circle" style="border: 1px solid black;width:15px;height:15px;background:{{source.colorHtml}};"></div></td><td>&nbsp;{{source.fullname}}</td></tr>
</table>
<table>
<tr><td rowspan=2 style="width:15px;padding-top:6px;height:36px;">&bull;</td><td style='padding-left:15px;padding-top:6px;text-align:right;vertical-align:middle;'>{{percentRelativeSource}}%</td><td style="vertical-align:middle;padding-top:6px;"><label>&nbsp;of input</label></td></tr>
<tr><td>&nbsp;<br></td></tr>
</table>
<table>
<tr><td style='width:17px;'><div class="circle" style="border: 1px solid black;width:15px;height:15px;background:{{target.colorHtml}};"></div></td><td>&nbsp;{{target.fullname}}</td></tr>
</table>
<table>
<tr><td style='width:17px;'>&nbsp;</td><td style='padding-left:15px;padding-top:6px;text-align:right;vertical-align:middle;'>{{percentRelativeTarget}}%</td><td style='padding-top:6px;vertical-align:middle;'><label>&nbsp;of output</td>
</table>
<hr>
<table>
<tr><td style='width:17px;'>&nbsp;</td><td style='padding-left:15px;text-align:right;vertical-align:middle;'>{{percentTotal}}%</td><td style='vertical-align:middle;'><label> of {{primaryDefinition}}</label></td></tr>
</table>
<!--
<div>Exit:{{exitRate}}%</div>
-->
<hr>
<table>
<tr><td style='width:17px;'><div class="circle" style="width:15px;height:15px;background:{{secondaryColor}};"></div></td><td style='padding-left:15px;text-align:right;vertical-align:middle;'>{{secondaryRate}}%</td><td style='vertical-align:middle;'><label>{{secondaryDefinition}}</label></td></tr>
</table>
</div>